.MuiListItemIcon-root {
  min-width: 30px !important;
  padding: 5px;

}

h1 {
  display: inline-block;
}
body {
  font-size: 1.2em;
  max-width: 600px;
  margin: auto;
}
.addItemPopover {
  padding: 5px;
}
