.MuiListItemIcon-root {
  min-width: 30px !important;
  padding: 5px;

}

h1 {
  display: inline-block;
}
body {
  font-size: 1.2em;
  max-width: 600px;
  margin: auto;
}
.addItemPopover {
  padding: 5px;
}

.tripper-list-item-content {
  display: flex;
  flex-direction: column;
}

.tripper-list-item-title {
  display: flex;
  align-items: center;
}

.tripper-list-item-subtitle {
  color: #4e5356;
  padding-left: 0.2rem;
  font-size: 0.6rem;
}

.tripper-list-item-subtitle-bundle-name {
  text-decoration: underline;
}
